<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abc.sharefilesz">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.abc.sharefilesz.base.App"
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TBShare"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.abc.sharefilesz.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TBShare.NoActionBar">

        </activity>
        <activity
            android:name="com.abc.sharefilesz.activity.ShareActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TBShare.NoActionBar.StaticStatusBar">
            <intent-filter>
                <action android:name="genonbeta.intent.action.TBShare_SEND_TEXT" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="genonbeta.intent.action.TBShare_SEND" />
                <action android:name="genonbeta.intent.action.TBShare_SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>


        </activity>

        <activity
            android:name="com.abc.sharefilesz.activity.AddDevicesToTransferActivity"
            android:label="@string/text_addDevicesToTransfer"
            android:theme="@style/Theme.TBShare.NoActionBar.StaticStatusBar" />

        <activity
            android:name="com.abc.sharefilesz.activity.FileExplorerActivity"
            android:label="@string/text_fileExplorer"
            android:theme="@style/Theme.TBShare.NoActionBar.StaticStatusBar" />

        <activity
            android:name="com.abc.sharefilesz.activity.ConnectionManagerActivity"
            android:label="@string/text_connectDevices"
            android:theme="@style/Theme.TBShare.NoActionBar.StaticStatusBar" />

        <activity
            android:name="com.abc.sharefilesz.activity.ContentSharingActivity"
            android:label="@string/text_send"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TBShare.NoActionBar.StaticStatusBar" />

        <activity
            android:name="com.abc.sharefilesz.activity.FilePickerActivity"
            android:label="@string/text_fileExplorer" />

        <activity
            android:name="com.abc.sharefilesz.activity.ViewTransferActivity"
            android:label="@string/text_transactionViewer"
            android:theme="@style/Theme.TBShare.NoActionBar.StaticStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />

                <data android:host="*" />
                <data android:pathPattern=".*\\.tshare" />
                <data android:pathPattern=".*\\..*\\.tshare" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.abc.sharefilesz.activity.ManageDevicesActivity"
            android:label="@string/text_manageDevices"
            android:theme="@style/Theme.TBShare.NoActionBar"/>

        <activity
            android:name="com.abc.sharefilesz.activity.SearchActivity"
            android:label="@string/butn_search" />

        <activity
            android:name="com.abc.sharefilesz.activity.TextEditorActivity"
            android:label="@string/text_textEditor" />

        <activity
            android:name="com.abc.sharefilesz.activity.ChangeStoragePathActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="com.genonbeta.intent.action.UPDATE_STORAGE_PATH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.abc.sharefilesz.activity.BarcodeScannerActivity"
            android:label="@string/text_scanQrCode"
            android:theme="@style/Theme.TBShare.BarcodeScannerActivity" />

        <activity
            android:name="com.abc.sharefilesz.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TBShare.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.WebShareActivity"
            android:label="Web Share"
            android:theme="@style/Theme.TBShare.NoActionBar"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="com.abc.sharefilesz.receiver.NetworkStatusReceiver"
            android:process=":transfer">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.abc.sharefilesz.receiver.DialogEventReceiver"
            android:process=":transfer" />

        <service
            android:name="com.abc.sharefilesz.service.CommunicationService"
            android:enabled="true"
            android:label="@string/text_communicationService"
            android:process=":transfer" />

        <service
            android:name="com.abc.sharefilesz.service.DeviceChooserService"
            android:label="@string/text_chooserTargetService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service android:name="com.abc.sharefilesz.service.DeviceScannerService">
            <intent-filter>
                <action android:name="genonbeta.intent.action.SCAN_DEVICES" />
                <action android:name="genonbeta.intent.action.ADD_IP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="com.abc.sharefilesz.service.WorkerService"
            android:label="@string/text_workerService" />

        <service
            android:name="com.abc.sharefilesz.service.CommunicationToggleTile"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/text_shareFiles"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":transfer">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>


</manifest>